<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Contacts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Contacts.Properties.Settings>
            <setting name="ColumnIdIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnLastNameIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnFirstNameIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnPatronymicIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnDisplayNameIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnDepartmentIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnPositionIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnCabinetIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnCommentsIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupContactsSelectedItem" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnIdDisplayIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnLastNameDisplayIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColumnFirstNameDisplayIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColumnPatronymicDisplayIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColumnDisplayNameDisplayIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ColumnDepartmentDisplayIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ColumnPositionDisplayIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ColumnCabinetDisplayIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ColumnCommentsDisplayIndex" serializeAs="String">
                <value>8</value>
            </setting>
        </Contacts.Properties.Settings>
    </userSettings>
</configuration>